<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574060180868-5up3c2kbhibtkaevljes0osdkur9a7nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574060180868-5up3c2kbhibtkaevljes0osdkur9a7nt</string>
	<key>API_KEY</key>
	<string>AIzaSyBpcoQ91-Rg_4b6EdWRw62Ajq-jGzgJIUw</string>
	<key>GCM_SENDER_ID</key>
	<string>574060180868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuan2k2mt-gmail.com.QuanLyChiTieu</string>
	<key>PROJECT_ID</key>
	<string>quanlychitieu-5adfe</string>
	<key>STORAGE_BUCKET</key>
	<string>quanlychitieu-5adfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574060180868:ios:a7326d15c0fead2d1f19d1</string>
	<key>DATABASE_URL</key>
	<string>https://quanlychitieu-5adfe-default-rtdb.firebaseio.com</string>
</dict>
</plist>