<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316393868316-03e2sho8msmkheio9eilqs78tn4hn79o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316393868316-03e2sho8msmkheio9eilqs78tn4hn79o</string>
	<key>API_KEY</key>
	<string>AIzaSyCxSTw26jbEilEcvSzwAAyrv97SMAHkI4U</string>
	<key>GCM_SENDER_ID</key>
	<string>316393868316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuan2k2mt-gmail.com.QuanLyChiTieu</string>
	<key>PROJECT_ID</key>
	<string>quanlychitieu-7e1fd</string>
	<key>STORAGE_BUCKET</key>
	<string>quanlychitieu-7e1fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316393868316:ios:86af64f8689c12208aa3d9</string>
</dict>
</plist>